x64
.vs
*.user
*.log
build
.DS_Store
resources/images/img.pptx
.idea
cmake-build-debug
cmake-build-release*
cmake-build-minsizerel
cmake-build-relwithdebinfo
.gradle
.clangd
.cache
.vscode
compile_commands.json
Release
auto_tutorials
generated_tutorials
python/docs/source/sg_execution_times.rst
