html {
    background: #e6e9e9;
    background-image: linear-gradient(270deg, rgb(230, 233, 233) 0%, rgb(216, 221, 221) 100%);
    -webkit-font-smoothing: antialiased;
    overflow-y: scroll; 
}


body {
    background: #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #222;
    /*color: #545454;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0 auto;
    max-width: 800px;
    padding: 2em 2em 4em;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: 600;
    line-height: 1.3;
}

h2 {
    margin-top: 1.3em;
}

a {
    color: #0083e8;
}

b, strong {
    font-weight: 600;
}

samp {
    display: none;
}

img {
    animation: colorize 1s cubic-bezier(0, 0, .78, .36) 1;
    background: transparent;
    border: 10px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    display: block;
    margin: 1.3em auto;
    max-width: 95%;
}

@keyframes colorize {
    0% {
        -webkit-filter: grayscale(100%);
        filter: grayscale(100%);
    }
    100% {
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
    }
}

#navigation H5 {
	DISPLAY: none
}
#navigation UL {
	BORDER-BOTTOM: #778 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT: bold 12px Verdana, sans-serif; MARGIN-LEFT: 0px; PADDING-TOP: 3px
}
#navigation UL LI {
	LIST-STYLE-TYPE: none; MARGIN: 0px; DISPLAY: inline
}
#navigation UL LI A {
	BORDER-BOTTOM: medium none; BORDER-LEFT: #778 1px solid; PADDING-BOTTOM: 3px; PADDING-LEFT: 0.5em; PADDING-RIGHT: 0.5em; BACKGROUND: #dde; MARGIN-LEFT: 3px; BORDER-TOP: #778 1px solid; BORDER-RIGHT: #778 1px solid; TEXT-DECORATION: none; PADDING-TOP: 3px
}
#navigation UL LI A:link {
	COLOR: #448
}
#navigation UL LI A:visited {
	COLOR: #667
}
#navigation UL LI A:hover:link {
	BORDER-BOTTOM-COLOR: #227; BORDER-TOP-COLOR: #227; BACKGROUND: #aae; COLOR: #000; BORDER-RIGHT-COLOR: #227; BORDER-LEFT-COLOR: #227
}
#navigation UL LI A:hover:visited {
	BORDER-BOTTOM-COLOR: #227; BORDER-TOP-COLOR: #227; BACKGROUND: #aae; COLOR: #000; BORDER-RIGHT-COLOR: #227; BORDER-LEFT-COLOR: #227
}
#navigation UL LI A#current {
	BORDER-BOTTOM: white 1px solid; BACKGROUND: white
}